.sidebar {
  @include rem( font-size, $sidebar--font-size );
  margin-bottom: 40px;

  @include media( $breakpoint__screen-size--small-max ) {
    margin-bottom: 5%;
  }

  .widget-title a {
    color: $sidebar-widget-title--link--text-color;
    text-decoration: none;
  }

  .widget {
    background-color: $sidebar-widget--background-color;
    padding: 40px;

   @include media( $breakpoint__screen-size--small-max ) {
      padding: 30px;
      margin-bottom: 5%;
    }
  }
}