<?xml version="1.0"?>
<ruleset name="Prometheus 2 Code Standards">
	<!-- See https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml -->
	<!-- See https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards -->
	<!-- See https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards/wiki -->
	<!-- See https://github.com/wimg/PHPCompatibility -->
	<!-- See https://github.com/Automattic/_s/blob/master/phpcs.xml.dist -->
	<description>Custom rules for Prometheus 2.</description>

	<!-- Check files in this directory and subdirectories. -->
	<file>.</file>

	<!-- Prevent sniffs of some directories. -->
	<exclude-pattern>/vendor/</exclude-pattern>
	<exclude-pattern>/node_modules/</exclude-pattern>

	<!-- Pass flags to PHPCS:
		 p: Show progress of the run.
		 s: Show sniff codes in all reports.
		 v: Print verbose output.
	-->
	<arg value="psv"/>
	<arg name="colors"/>
	<!-- Only check PHP files. -->
	<arg name="extensions" value="php"/>
	<!-- Set a basepath to remove user environment specific paths from the results. -->
	<arg name="basepath" value="."/>
	<!-- Enable parallel processing which will speed up the sniffs if available. -->
	<arg name="parallel" value="32"/>

	<!-- Test PHP cross-version compatibility. -->
	<rule ref="PHPCompatibility"/>
	<config name="testVersion" value="5.6-"/>
	<config name="minimum_supported_wp_version" value="4.8"/>

	<!-- Use the WordPress ruleset, with exclusions. -->
	<rule ref="WordPress">
			<exclude name="Squiz.PHP.CommentedOutCode.Found"/>
			<exclude name="PEAR.Functions.FunctionCallSignature.ContentAfterOpenBracket"/>
			<exclude name="PEAR.Functions.FunctionCallSignature.MultipleArguments"/>
			<exclude name="PEAR.Functions.FunctionCallSignature.CloseBracketLine"/>
	</rule>

	<!-- Page templates currently use underscores for historic reasons. -->
	<rule ref="WordPress.Files.FileName.NotHyphenatedLowercase">
		<exclude-pattern>page_landing.php</exclude-pattern>
	</rule>

	<!-- Check for correct text domain on all translatable strings. -->
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="prometheus2"/>
			</property>
		</properties>
	</rule>

	<!-- Check all globals have the expected prefix. -->
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="CHILD_THEME"/>
				<element value="CHILD_TEXT_DOMAIN"/>
				<element value="prometheus_2"/>
			</property>
		</properties>
	</rule>

	<!-- Allow theme-specific exceptions to WordPress filename rules. -->
	<rule ref="WordPress.Files.FileName">
		<properties>
			<property name="is_theme" value="true"/>
		</properties>
	</rule>
</ruleset>
