//
// After Entry base styles
//=============================

.after-entry {
  background-color: $after-entry--background-color;
  font-size: rem( $after-entry--font-size );
  margin-bottom: 40px;
  padding: 60px;

  @include media( $breakpoint__screen-size--small-max ) {
    padding: 30px;
    margin-bottom: 5%;
  }

}
