blockquote {
  margin: 40px;
  font-style: italic;

  &::before {
    content: "\201C";
    display: block;
    @include rem( font-size, $blockquote--font-size );
    height: 0;
    left: -20px;
    position: relative;
    top: -10px;
  }
}