//
// Caption Styles
//=====================================

.wp-caption.alignright {
  margin: 0 0 24px 24px;
}

.wp-caption.alignleft {
    margin: 0 24px 24px 0;
}

.entry-content p.wp-caption-text {
    margin-bottom: 0;
  }

.wp-caption-text {
  font-size: rem( $wp-caption-text--font-size );
  font-weight: 600;
  margin: 0;
  text-align: center;
}