/* ## Typographical Elements
--------------------------------------------- */

html {
  font-size: $html__font-size; /* 10px browser default */
}

/* Chrome fix */
body > div {
  font-size: rem( $body-div__font-size);

  @media only screen and (max-width: $small-screen) {
    font-size: rem( $body-div--small-screen__font-size );
  }
}

body {
  background-color: $body__background-color;
  color: $body__text-color;
  font-family: $body__font-family;
  font-size: rem( $body__font-size );
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: $body__line-height;
  margin: 0;

  @media only screen and (max-width: $small-screen) {
    font-size: rem( $body--small-screen__font-size );
  }
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
 @include transition( all 0.1s ease-in-out);
}

p {
  margin: 0 0 28px;
  padding: 0;
}

hr {
  border: 0;
  border-collapse: collapse;
  border-top: 1px solid $hr__border-top;
  clear: both;
  margin: 1em 0;
}

b,
strong {
  font-weight: 700;
}

cite,
em,
i {
  font-style: italic;
}