/* ## Forms
--------------------------------------------- */

input,
select,
textarea {
  background-color: $form__input-select-textarea--background-color;
  border: 1px solid $form__input-select-textarea--border-color;
  color: $form__input-select-textarea--text-color;
   @include rem( font-size, $form__input-select-textarea--font-size );
  font-weight: 400;
  padding: 16px;
  width: 100%;
}

input:focus,
textarea:focus {
  border: 1px solid $form__input-select-textarea--focus-border-color;
  outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
  width: auto;
}

::-moz-placeholder {
  color: $form--placeholder--text-color;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: $form--placeholder--text-color;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
  background-color: $button--background-color;
  border: 0;
  color: $button--text-color;
  cursor: pointer;
   @include rem( font-size, $button--font-size );
  font-weight: 700;
  padding: 16px 24px;
  text-decoration: none;
  white-space: normal;
  width: auto;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover,
button:focus,
input:focus[type="button"],
input:focus[type="reset"],
input:focus[type="submit"],
.button:focus  {
  background-color: $button--hover-background-color;
  color: $button--hover-text-color;
}

.button {
  display: inline-block;
}

a.button.small,
button.small,
input[type="button"].small,
input[type="reset"].small,
input[type="submit"].small {
  padding: 8px 16px;
}

.site-container {
  button:disabled,
  button:disabled:hover,
  input:disabled,
  input:disabled:hover,
  input[type="button"]:disabled,
  input[type="button"]:disabled:hover,
  input[type="reset"]:disabled,
  input[type="reset"]:disabled:hover,
  input[type="submit"]:disabled,
  input[type="submit"]:disabled:hover {
    background-color: $site-container__button--disabled-background-color;
    border-width: 0;
    color: $site-container__button--disabled-text-color;
    cursor: not-allowed;
  }
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
  display: none;
}
