/* ## Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headings--font-family;
  font-weight: 600;
  line-height: $headings--line-height;
  margin: 0 0 10px;
}

h1 {
   @include rem( font-size, $h1--font-size );
}

h2 {
   @include rem( font-size, $h2--font-size );
}

h3 {
   @include rem( font-size, $h3--font-size );
}

h4 {
   @include rem( font-size, $h4--font-size );
}

h5 {
   @include rem( font-size, $h5--font-size );
}

h6 {
   @include rem( font-size, $h6--font-size );
}
