/* ## Tables
--------------------------------------------- */

table {
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 2;
  margin-bottom: 40px;
  width: 100%;
  word-break: break-word;
}

tbody {
  border-bottom: 1px solid $tbody__border-bottom-color;
}

td,
th {
  text-align: left;
}

td {
  border-top: 1px solid $td__border-top-color;
  padding: 6px;
}

th {
  font-weight: 400;
  padding: 0 6px;
}

td:first-child,
th:first-child {
  padding-left: 0;
}
