//
// Breadcrumbs
//============================

.breadcrumb {
  background-color: $breadcrumb__background-color;
  font-size: rem( $breadcrumb__font-size );
  margin-bottom: 1px;
  padding: 12px 30px;
}