//
// Archive styles
//===================================

.archive-title {
   @include rem( font-size, $archive-title--font-size );
}

.archive-description {
  background-color: $archive-description--background-color;
   @include rem( font-size, $archive-description--font-size );
  margin-bottom: 40px;
  padding: 60px;

  @include media( $breakpoint__screen-size--small-max ) {
    padding: 30px;
    margin-bottom: 5%;
  }

  .entry-title {
     @include rem( font-size, $archive-description__entry-title--font-size );
  }

  p:last-child {
    margin-bottom: 0;
  }
}
