//
// Archive styles
//===================================

.archive-title {
  font-size: rem( $archive-title--font-size )20px;
}

.archive-description {
  background-color: $archive-description--background-color;
  font-size: rem( $archive-description--font-size );
  margin-bottom: 40px;
  padding: 60px;

  @include media( $breakpoint__screen-size--small-max ) {
    padding: 30px;
    margin-bottom: 5%;
  }

  .entry-title {
    font-size: rem( $archive-description__entry-title--font-size );
  }

  p:last-child {
    margin-bottom: 0;
  }
}
