//
// Author box base styles

.author-box {
  background-color: $author-box__background-color#fff;
  font-size: rem( $author-box__font-size );
  margin-bottom: 40px;
  padding: 60px;

  @media only screen and (max-width: $small-screen) {
    padding: 30px;
    margin-bottom: 5%;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.author-box-title {
  font-size: rem( $author-box-title__font-size );
}