//
// Author box base styles

.author-box {
  background-color: $author-box--background-color;
   @include rem( font-size, $author-box--font-size );
  margin-bottom: 40px;
  padding: 60px;

  @include media( $breakpoint__screen-size--small-max ) {
    padding: 30px;
    margin-bottom: 5%;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.author-box-title {
   @include rem( font-size, $author-box-title--font-size );
}