//
// Comments, Comment Responses & Pings
//===========================================

.entry-comments,
.entry-pings {
  background-color: $comments-pings--background-color;
  font-size: rem( $comments-pings--font-size );
  margin-bottom: 40px;

  @media only screen and (max-width: 860px) {
    padding: 30px;
    margin-bottom: 5%;
  }
}

.entry-pings {
  padding: 60px 60px 32px;

  .reply {
    display: none;
  }
}

.entry-comments {
  padding: 60px;
}
