//
// Site header base styles
//================================================

.site-header {
  background-color: $site-header__background-color;

  > .wrap {
    padding: 20px 0;
  }

  @media only screen and (max-width: 1023px) {
    .wrap {
      padding-left: 5%;
      padding-right: 5%;
    }

    .search-form {
      float: none;
      margin: 16px auto;
    }

    .title-area {
      text-align: center;
    }
  }
}
