/* ## Widget Area
--------------------------------------------- */

.site-header .widget-area {
  float: right;
  text-align: right;
  width: $header-right--width;

  @media only screen and (max-width: $screen-size--larger) {
    width: $header-right--width;
  }

  @media only screen and (max-width: $screen-size--large) {
    width: $header-right--width--large-screen;
  }

  @media only screen and (max-width: $screen-size--medium) {
    width: 100%;
    text-align: center;
  }
}
