/* ## Widget Area
--------------------------------------------- */

.site-header .widget-area {
  float: right;
  text-align: right;
  width: $header-right--width;

  @include media( $breakpoint__screen-size--larger-max ) {
    width: $header-right--width;
  }

  @include media( $breakpoint__screen-size--large-max ) {
    width: $header-right--width--large-screen;
  }

  @include media( $breakpoint__screen-size--medium-max ) {
    width: 100%;
    text-align: center;
  }
}
