/* ## Widget Area
--------------------------------------------- */

.site-header .widget-area {
  float: right;
  text-align: right;
  width: 800px;

  @media only screen and (max-width: 1340px) {
    width: 800px;
  }

  @media only screen and (max-width: 1200px) {
    width: 620px;
  }

  @media only screen and (max-width: 1023px) {
    width: 100%;
    text-align: center;
  }
}
