/* ## Title Area
--------------------------------------------- */

.title-area {
  float: left;
  padding: 10px 0;
  width: $title-area__width;

  @media only screen and (max-width: 1023px) {
    width: 100%;
    text-align: center;
  }

  .header-image & {
    margin: 0 auto;
    max-width: $title-area__width;
    padding: 0;

    @media only screen and (max-width: 1023px) {
      float: none;
    }
  }

  .header-full-width & {
    float: none;
    width: 100%;
  }
}

.site-title {
  font-size: rem( $site-title--font-size );
  font-weight: 700;
  line-height: 1.2;

  a,
  a:hover,
  a:focus {
    color: $site-title--link-color;
    text-decoration: none;
  }

  .header-image & > a {
    background-position: center !important;
    background-size: contain !important;
    float: left;
    min-height: $site-title__min-height;
    width: 100%;
  }
}

.site-description {
  font-size: rem ( $site-description--font-size );
  font-weight: 400;
  line-height: 1.5;
}

.site-description,
.site-title {
  margin-bottom: 0;

  @media only screen and (max-width: 1023px) {
    text-align: center;
  }

  .header-image & {
    display: block;
    text-indent: -9999px;
  }
}
