/* ## Entries
--------------------------------------------- */

.entry {
  background-color: $entry--background-color;
  margin-bottom: 40px;
  padding: 70px 80px;

 @include media( $breakpoint__screen-size--small-max ) {
    padding: 30px;
    margin-bottom: 5%;
  }
}

p.entry-meta {
   @include rem( font-size, $entry-header__entry-meta--font-size );
  margin-bottom: 0;
}
