/* ## Entries
--------------------------------------------- */

.entry {
  background-color: $entry--background-color;
  margin-bottom: 40px;
  padding: 70px 80px;

 @include media( $breakpoint__screen-size--small-max ) {
    padding: 30px;
    margin-bottom: 5%;
  }
}
