//
// ## Entry content
//=======================================
.entry-content {
  ol,
  ul {
    margin-bottom: 28px;
    margin-left: 40px;
  }

  ol > li {
    list-style-type: decimal;
  }

  ul > li {
    list-style-type: disc;
  }

  ol ol,
  ul ul {
    margin-bottom: 0;
  }

  code {
    background-color: $entry-content-code__background-color;
    color: $entry-content-code__text-color;
  }
   .button:hover,
   .button:focus {
      color: $entry-content--button--hover__text-color;
   }
}

  .wp-audio-shortcode,
  .wp-playlist,
  .wp-video {
    margin: 0 0 28px;
  }
}