/* ## Search Form
--------------------------------------------- */

.search-form {
  overflow: hidden;
}

.entry-content .search-form,
.site-header .search-form {
  margin-bottom: 40px;
  width: 50%;
}

.site-header .search-form {
  float: right;
  margin: 12px auto 0;
}

.post-password-form input[type="submit"],
.search-form input[type="submit"] {
  margin-top: 10px;
}

.genesis-nav-menu .search input[type="submit"],
.widget_search input[type="submit"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
}
