/* ## Titles
--------------------------------------------- */

.archive-description .entry-title,
.archive-title,
.author-box-title {
  font-size: 20px;
  font-size: 2rem;
}

.sidebar .widget-title a {
  color: #333;
  text-decoration: none;
}

.widget-title {
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 20px;
}
