// Base Colors
$dark-grey: #333;
$mid-grey: #777;
$light-grey: #ddd;
$blue: #0073e5;
$lighter-grey: #eee;
$lightest-grey: #f5f5f5;
$white: #fff;

// Base Fonts
$base-font: "Source Sans Pro", sans-serif;

// Border styles
$border-width: 1px;
$border-style: solid;
$border-color: $lighter-grey;

// Font sizes in rem - insert value only, mixin will add rem and calculate px
$body--font-size: 1.8;
$h1--font-size: 3; 
$h2--font-size: 2.7;
$h3--font-size: 2.4;
$h4--font-size: 2;
$h5--font-size: 1.8;
$h6--font-size: 1.6;
$after-entry__breadcrumb--font-size: 1.6;
$button--font-size: 1.6;
$archive-author-box__entry-title--font-size: 2;
$entry-title--font-size: 3;
$featured-content__entry-title--font-size: 1.6;
$enews-widget__input--font-size: 1.6;
$site-title--font-size: 2;
$genesis-nav-menu--font-size: 1.5;
$genesis-nav-menu__sub-menu__link--font-size: 1.4;
$sidebar--font-size: 1.6;
$entry-content__caption--font-size: 1.4;
$entry-meta--font-size: 1.6;
$comments--font-size: 1.8;
$footer-widgets--font-size: 1.8;
$site-footer--font-size: 1.5;
$forms--font-size: 1.8;
$widget-title--font-size: 1.8;
$archive-pagination--font-size: 1.6;
$blockquote__before--font-size: 3;

// Font families
$body--font-family: $base-font;
$headings--font-family: $base-font;

// Font weights
$font-weight--normal: 400;
$font-weight--bold: 600;
$font-weight--bolder: 700;

// Line heights
$line-height--big: 20px;
$line-height--normal: 1.625;
$line-height--medium: 1.5;
$line-height--small: 1.2;
$line-height--smaller: 1;

// Font colors
$body--font-color: $dark-grey;
$mark--font-color: $dark-grey;
$link--font-color: $blue;
$link--font-color-hover: $dark-grey;
$button--font-color: $white;
$button--font-color-hover: $white;
$entry-title__link--font-color: $dark-grey;
$entry-title__link--font-color-hover: $blue;
$site-title__link--font-color: $dark-grey;
$genesis-nav-menu--font-color: $dark-grey;
$genesis-nav-menu--font-color-hover: $blue;
$menu-toggle--font-color: $dark-grey;
$menu-toggle--font-color-hover: $blue;
$sidebar__widget-title--font-color: $dark-grey;
$sub-menu-toggle--font-color: $dark-grey;
$sub-menu-toggle--font-color-hover: $blue;
$menu-highlight__link--font-color: $white;
$forms--font-color: $dark-grey;
$archive-pagination--font-color: $dark-grey;
$archive-pagination--font-color-hover: $white;
$gs-faq__question--font-color: $dark-grey;
$gs-faq__question--font-color-hover: $blue;
$disabled--font-color: $mid-grey;

// Background colors
$body--background-color: $white;
$site-header--background-color: $white;
$mark--background-color: $light-grey;
$button--background-color: $dark-grey;
$button--background-color-hover: $blue;
$genesis-nav-menu__sub-menu__link--background-color: $white;
$footer-widgets--background-color: $white;
$site-footer--background-color: $white;
$menu-highlight__link--background-color: $dark-grey;
$menu-highlight__link--background-color-hover: $blue;
$forms__background-color: $white;
$sticky--background-color: $lightest-grey;
$author-box--background-color: $lightest-grey;
$code--background-color: $lightest-grey;
$archive-pagination--background-color: $lightest-grey;
$archive-pagination--background-color-hover: $dark-grey;
$enews__sidebar--background-color: $lightest-grey;
$disabled--background-color: $lighter-grey;

// Media Queries
$standard-screen-width: 960px;

// Standard Box Shadow
$box-shadow-blur-radius: 20px;
$box-shadow-opacity: 0.05;

