/* ### Wrapping div for .content and .sidebar-primary */

.content-sidebar-wrap {
  .content-sidebar-sidebar &,
  .sidebar-content-sidebar &,
  .sidebar-sidebar-content & {
    width: $content-twosidebars__content-sidebar-wrap--width;

    @media only screen and (max-width: $screen-size--larger) {
      width: $content-twosidebars__content-sidebar-wrap--width--larger-screen;
    }

    @media only screen and (max-width: $screen-size--large) {
      width: $content-twosidebars__content-sidebar-wrap--width--large-screen;
    }

    @media only screen and (max-width: $screen-size--medium) {
      width: 100%;
    }
  }

  .content-sidebar-sidebar & {
    float: left;
  }

  .sidebar-content-sidebar &,
  .sidebar-sidebar-content & {
    float: right;
  }
}



