/* ### Content */

.content {
  float: right;
  width: $content--width;

  @include media( $breakpoint__screen-size--larger-max ) {
    width: $content--width--larger-screen;
  }

  @include media( $breakpoint__screen-size--large-max ) {
    width: $content--width--large-screen;
  }

  @include media( $breakpoint__screen-size--medium-max ) {
    width: 100%;
  }

  .content-sidebar &,
  .content-sidebar-sidebar &,
  .sidebar-content-sidebar & {
    float: left;
  }

  .content-sidebar-sidebar &,
  .sidebar-content-sidebar &,
  .sidebar-sidebar-content & {
    width: $content-twosidebars--width;

    @include media( $breakpoint__screen-size--larger-max ) {
      width: $content-twosidebars--width--larger-screen;
    }

    @include media( $breakpoint__screen-size--large-max ) {
      width: $content-twosidebars--width--large-screen;
    }

    @include media( $breakpoint__screen-size--medium-max ) {
      width: 100%;
    }
  }

  .full-width-content & {
    width: 100%;
  }
}
