/* ### Wrapping div for .content and .sidebar-primary */

.content-sidebar-wrap {
  .content-sidebar-sidebar &,
  .sidebar-content-sidebar &,
  .sidebar-sidebar-content & {
    width: $content-twosidebars__content-sidebar-wrap--width;

    @include media( $breakpoint__screen-size--larger-max ) {
      width: $content-twosidebars__content-sidebar-wrap--width--larger-screen;
    }

    @include media( $breakpoint__screen-size--large-max ) {
      width: $content-twosidebars__content-sidebar-wrap--width--large-screen;
    }

    @include media( $breakpoint__screen-size--medium-max ) {
      width: 100%;
    }
  }

  .content-sidebar-sidebar & {
    float: left;
  }

  .sidebar-content-sidebar &,
  .sidebar-sidebar-content & {
    float: right;
  }
}



