/* ### Content */

.content {
  float: right;
  width: $content--width;

  @media only screen and (max-width: $screen-size--larger) {
    width: $content--width--larger-screen;
  }

  @media only screen and (max-width: $screen-size--large) {
    width: $content--width--large-screen;
  }

  @media only screen and (max-width: $screen-size--medium) {
    width: 100%;
  }

  .content-sidebar &,
  .content-sidebar-sidebar &,
  .sidebar-content-sidebar & {
    float: left;
  }

  .content-sidebar-sidebar &,
  .sidebar-content-sidebar &,
  .sidebar-sidebar-content & {
    width: $content-twosidebars--width;

    @media only screen and (max-width: $screen-size--larger) {
      width: $content-twosidebars--width--larger-screen;
    }

    @media only screen and (max-width: $screen-size--large) {
      width: $$content-twosidebars--width--large-screen;
    }

    @media only screen and (max-width: $screen-size--medium) {
      width: 100%;
    }
  }

  .full-width-content & {
    width: 100%;
  }
}
