/* ### Primary Sidebar */

.sidebar-primary {
  float: right;
  width: $primary-sidebar--width;

  @media only screen and (max-width: $screen-size--larger) {
    width: $primary-sidebar--width--larger-screen;
  }

  @media only screen and (max-width: $screen-size--medium) {
    width: 100%;
  }

  .sidebar-content &,
  .sidebar-sidebar-content & {
    float: left;
  }
}
