/* ### Primary Sidebar */

.sidebar-primary {
  float: right;
  width: $primary-sidebar__width;

  @media only screen and (max-width: $larger-screen) {
    width: $primary-sidebar--larger-screen__width;
  }

  @media only screen and (max-width: $medium-screen) {
    width: 100%;
  }

  .sidebar-content &,
  .sidebar-sidebar-content & {
    float: left;
  }
}
