/* ### Primary Sidebar */

.sidebar-primary {
  float: right;
  width: $primary-sidebar--width;

  @include media( $breakpoint__screen-size--larger-max ) {
    width: $primary-sidebar--width--larger-screen;
  }

  @include media( $breakpoint__screen-size--medium-max ) {
    width: 100%;
  }

  .sidebar-content &,
  .sidebar-sidebar-content & {
    float: left;
  }
}
