/* ### Secondary Sidebar */

.sidebar-secondary {
  float: left;
  width: $secondary-sidebar--width;

  @include media( $breakpoint__screen-size--medium-max ) {
    width: 100%;
  }

  .content-sidebar-sidebar & {
    float: right;
  }
}
