/* ### Secondary Sidebar */

.sidebar-secondary {
  float: left;
  width: $secondary-sidebar--width;

  @media only screen and (max-width: $screen-size--medium) {
    width: 100%;
  }

  .content-sidebar-sidebar & {
    float: right;
  }
}
