/* ## Entry Header Entry Meta
--------------------------------------------- */
.entry-header {
  .entry-meta {
    margin-bottom: 24px;
  }
}

.entry-comments-link::before {
  content: "\2014";
  margin: 0 6px 0 2px;
}