/* Font sizes */
$body--font-size: 1.8rem;
$h1--font-size: 3rem;
$h2--font-size: 2.7rem;
$h3--font-size: 2.4rem;
$h4--font-size: 2rem;
$h5--font-size: 1.8rem;
$h6--font-size: 1.6rem;
$button--font-size: 1.6rem;
$archive-author-box__entry-title: 2rem;
$entry-title__font-size: 3rem;
$featured-content-entry-title__font-size: 1.6rem;
$enews-widget-input__font-size: 1.6rem;
$site-title__font-size: 2rem;
$genesis-nav-menu__font-size: 1.5rem;
$genesis-nav-menu-sub-menu--link__font-size: 1.4rem;
$sidebar__font-size: 1.6rem;
$entry-content-caption__font-size: 1.4rem;
$comments__font-size: 1.8rem;
$footer-widgets__font-size: 1.8rem;
$site-footer__font-size: 1.5rem;

/* Font families */
$body--font-family: "Source Sans Pro", sans-serif;
$headings--font-family: "Source Sans Pro", sans-serif;

/* Font weights */
$font-weight__normal: 400;
$font-weight__bold: 600;
$font-weight__bolder: 700;

/* Line heights*/
$line-height__normal: 1.625;
$line-height__medium: 1.5;
$line-height__small: 1.2;
$line-height__smaller: 1;
$line-height__big: 20px;

/* Font colors */
$body--font-color: #333;
$link--font-color: #0073e5;
$link--font-color__hover: #333;
$button--font-color: #fff;
$button--font-color__hover: #fff;
$entry-title__link--font-color: #333;
$entry-title__link--font-color-hover: #0073e5;
$site-title__link--font-color: #333;
$genesis-nav-menu--font-color: #333;
$genesis-nav-menu--font-color-hover: #0073e5;
$menu-toggle--font-color: #333;
$menu-toggle--font-color-hover: #0073e5;
$sub-menu-toggle--font-color: #333;
$sub-menu-toggle--font-color-hover: #0073e5;
$menu-highlight__link--font-color: #fff;

/* Background colors */
$body--background-color: #fff;
$site-header--background-color: #fff;
$mark--background-color: #ddd;
$button--background-color: #333;
$button--background-color__hover: #0073e5;
$genesis-nav-menu-sub-menu--link__background-color: #fff;
$footer-widgets__background-color: #fff;
$menu-highlight--link__background-color: #333;
$menu-highlight--link__background-color-hover: #0073e5;
