// Base Colors
$dark-grey: #333;
$grey: #ddd;
$blue: #0073e5;
$white: #fff;

// Base Fonts
$base-font: "Source Sans Pro", sans-serif;

// Font sizes
$body--font-size: 1.8rem;
$h1--font-size: 3rem;
$h2--font-size: 2.7rem;
$h3--font-size: 2.4rem;
$h4--font-size: 2rem;
$h5--font-size: 1.8rem;
$h6--font-size: 1.6rem;
$button--font-size: 1.6rem;
$archive-author-box__entry-title--font-size: 2rem;
$entry-title--font-size: 3rem;
$featured-content__entry-title--font-size: 1.6rem;
$enews-widget__input--font-size: 1.6rem;
$site-title--font-size: 2rem;
$genesis-nav-menu--font-size: 1.5rem;
$genesis-nav-menu__sub-menu__link--font-size: 1.4rem;
$sidebar--font-size: 1.6rem;
$entry-content__caption--font-size: 1.4rem;
$comments--font-size: 1.8rem;
$footer-widgets--font-size: 1.8rem;
$site-footer--font-size: 1.5rem;
$forms--font-size: 1.8rem;

// Font families
$body--font-family: $base-font;
$headings--font-family: $base-font;

// Font weights
$font-weight--normal: 400;
$font-weight--bold: 600;
$font-weight--bolder: 700;

// Line heights
$line-height--big: 20px;
$line-height--normal: 1.625;
$line-height--medium: 1.5;
$line-height--small: 1.2;
$line-height--smaller: 1;

// Font colors
$body--font-color: $dark-grey;
$link--font-color: $blue;
$link--font-color-hover: $dark-grey;
$button--font-color: $white;
$button--font-color-hover: $white;
$entry-title__link--font-color: $dark-grey;
$entry-title__link--font-color-hover: $blue;
$site-title__link--font-color: $dark-grey;
$genesis-nav-menu--font-color: $dark-grey;
$genesis-nav-menu--font-color-hover: $blue;
$menu-toggle--font-color: $dark-grey;
$menu-toggle--font-color-hover: $blue;
$sub-menu-toggle--font-color: $dark-grey;
$sub-menu-toggle--font-color-hover: $blue;
$menu-highlight__link--font-color: $white;
$forms--font-color: $dark-grey;

// Background colors
$body--background-color: $white;
$site-header--background-color: $white;
$mark--background-color: $grey;
$button--background-color: $dark-grey;
$button--background-color-hover: $blue;
$genesis-nav-menu__sub-menu__link--background-color: $white;
$footer-widgets--background-color: $white;
$menu-highlight__link--background-color: $dark-grey;
$menu-highlight__link--background-color-hover: $blue;
$forms__background-color: $white;