/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
  background-color: #fff;
  font-size: 18px;
  font-size: 1.8rem;
  clear: both;
  padding: 60px 0;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
  width: 380px;
}

.footer-widgets-1 {
  margin-right: 70px;
}

.footer-widgets-1,
.footer-widgets-2 {
  float: left;
}

.footer-widgets-3 {
  float: right;
}
