/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
  background-color: $footer-widgets--background-color;
   @include rem( font-size, $footer-widgets--font-size );
  clear: both;
  padding: 60px 0;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
  width: $footer-widgets--width;

  @include media( $breakpoint__screen-size--larger-max ) {
    width: $footer-widgets--width--larger-screen;
  }

  @include media( $breakpoint__screen-size--large-max ) {
    width: $footer-widgets--width--large-screen;
  }

  @include media( $breakpoint__screen-size--medium-max ) {
  width: 100%;
  }
}

.footer-widgets-1 {
  margin-right: 70px;

  @include media( $breakpoint__screen-size--larger-max ) {
    margin-right: 60px;
  }

  @include media( $breakpoint__screen-size--large-max ) {
    margin-right: 30px;
  }
}

.footer-widgets-1,
.footer-widgets-2 {
  float: left;

  @include media( $breakpoint__screen-size--medium-max ) {
    margin: 0 auto 40px;
  }
}

.footer-widgets-3 {
  float: right;
}
