/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
  background-color: $footer-widgets--background-color;
  font-size: rem ( $footer-widgets--font-size );
  clear: both;
  padding: 60px 0;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
  width: $footer-widgets--width;

  @media only screen and (max-width: $screen-size--larger) {
    width: $footer-widgets--width--larger-screen;
  }

  @media only screen and (max-width: $screen-size--large) {
    width: $footer-widgets--width--large-screen;
  }

  @media only screen and (max-width: $screen-size--medium) {
  width: 100%;
  }
}

.footer-widgets-1 {
  margin-right: 70px;

  @media only screen and (max-width: $screen-size--larger) {
    margin-right: 60px;
  }

  @media only screen and (max-width: $screen-size--large) {
    margin-right: 30px;
  }
}

.footer-widgets-1,
.footer-widgets-2 {
  float: left;

  @media only screen and (max-width: $screen-size--medium) {
    margin: 0 auto 40px;
  }
}

.footer-widgets-3 {
  float: right;
}
