/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
  background-color: #fff;
  border-top: 1px solid #eee;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1;
  padding: 60px 0;
  text-align: center;

  p {
    margin-bottom: 0;
  }
}