/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
  background-color: $site-footer--background-color;
  border-top: 1px solid $site-footer--border-color;
  font-size: rem ( $site-footer--font-size );
  line-height: 1;
  padding: 60px 0;
  text-align: center;

  p {
    margin-bottom: 0;
  }
}