/* Common Classes
---------------------------------------*/

/* Avatar
--------------------------------------------- */

.avatar {
	float: left;
	border-radius: 50%;

	.author-box &,
	.alignleft & {
		margin-right: 20px;
	}

	.alignright & {
		margin-left: 20px;
	}

	.comment & {
		margin: 0 15px 20px 0;
	}
}

/* Genesis
--------------------------------------------- */

.after-entry {
	margin-bottom: 40px;
	padding: 20px 30px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);

	@media only screen and (min-width: 960px) {
		margin-bottom: 60px;
		padding: 40px 60px;
	}

	.widget:last-of-type {
		margin-bottom: 0;
	}

	.breadcrumb {
		margin-bottom: 40px;
		padding-bottom: 10px;
		border-bottom: 1px solid #eee;
		font-size: 16px;
		font-size: 1.6rem;
	}
}

.archive-description {
	margin-bottom: 40px;

	@media only screen and (min-width: 960px) {
		margin-bottom: 60px;
	}

	p:last-child {
		margin-bottom: 0;
	}

	.entry-title {
		margin-bottom: 10px;
		font-size: $archive-author-box__entry-title--font-size;
		font-weight: $font-weight--bold;
	}
}

.author-box {
	margin-bottom: 40px;

	@media only screen and (min-width: 960px) {
		margin-bottom: 60px;
		padding: 30px;
		background-color: #f5f5f5;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

/* Search Form
--------------------------------------------- */

.search-form {
	overflow: hidden;
}

.entry-content .search-form {
	width: 50%;
	margin-bottom: 40px;
}

.post-password-form input[type="submit"],
.search-form input[type="submit"] {
	margin-top: 10px;
}

.widget_search input[type="submit"] {
	clip: rect(0, 0, 0, 0);
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

/* Titles
--------------------------------------------- */

.archive-title,
.author-box-title {
	margin-bottom: 10px;
	font-size: $archive-author-box__entry-title--font-size;
	font-weight: $font-weight--bold;
}

.entry-title {
	margin-bottom: 10px;
	font-size: $entry-title--font-size;

	a {
		color: $entry-title__link--font-color;
		text-decoration: none;
	}

	a:focus,
	a:hover {
		color: $entry-title__link--font-color-hover;
	}
}

.sidebar .widget-title a {
	color: #333;
	text-decoration: none;
}

.widget-title {
	margin-bottom: 20px;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 600;
}

/* WordPress
--------------------------------------------- */

.aligncenter {
	text-align: center;
}

a.aligncenter img {
	display: block;
	margin: 0 auto;
}

a.alignnone {
	display: inline-block;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
	max-width: 100%;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 30px;
}

img.alignnone,
.alignnone {
	margin-bottom: 15px;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
	margin: 0 20px 20px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
	margin: 0 0 20px 20px;
}

.gallery-caption,
.wp-caption-text {
	margin: 0;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 600;
	text-align: center;
}

.entry-content p.wp-caption-text {
	margin-bottom: 0;
}

.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video {
	margin: 0 0 30px;
}
