$base--color: #333;


//
// Body
//==============================
$body--background-color: #eee;
$body--text-color: #333;


//
// hr
//=============================
$hr__border-top: #eee;

//
// Forms
//=============================
$form__input-select-textarea--background-color: #fff;
$form__input-select-textarea--border-color: #ddd;
$form__input-select-textarea--text-color: #333;

$form__input-select-textarea--focus-border-color: #999;

$form--placeholder--text-color: #333;

$button--background-color: #333;
$button--text-color: #fff;

$button--hover-background-color: #c3251d;
$button--hover-text-color: #fff;

$site-container__button--disabled-background-color: #eee;
$site-container__button--disabled-text-color: #777;


//
// Links
//===================================
$link--text-color: #c3251d;
$link--hover-focus-text-color: #333;

//
// Tables
//====================================
$tbody--border-bottom-color: #eee;
$td--border-top-color: #eee;

//
// Gallery
//======================================
$gallery__img--border-color: #eee;
$gallery__img--hover-border-color: #999;

//
// Header
//===================================
$site-header--background-color: #fff;
$site-title--link-color: #333;

//
// Navigation Colors
//==================================

// Nav Links
$nav__link--color: #333;
$nav__link--hover-focus-color: #c3251d;

// Nav Primary
$nav-primary--background-color: #eee;
$nav-primary--border-color: #eee;

// Submenu
$submenu--border-color: #eee;
$submenu__link--background-color: #fff;

// Nav Toggle
$nav-toggle--background-color: #fff;
$nav-toggle--color: #333;

// Breadcrumbs
$breadcrumb--background-color: #fff;

// Archive Pagination
$archive-pagination--color: #333;
$archive-pagination--color--hover-focus: #fff;
$archive-pagination--background-color: #fff;
$archive-pagination--hover-focus-background-color: #c3251d;

// js enabled
$js-nav--background-color: $white;
$js-nav--hover-color: #000;
$js-nav--focus-color: #c3251d;


//
// Search
//====================================
$search-input-submit--focus-text-color: #333;
$search-input-submit--focus-background-color: #fff;

//
// Entry
//=================================
$entry--background-color: #fff;

//
// Entry Title
//================================
$entry-title--link-color: #333;
$entry-title--hover-focus-link-color: #c3251d;

//
// Entry Content
//=================================
$entry-content-code--background-color: #333;
$entry-content-code--text-color: #eee;

$entry-content__button--hover-text-color: #fff;
//
// Entry Footer
//===============================
$entry-footer__entry-meta--border-color: #eee;

//
// Author Box
//================================
$author-box--background-color: #fff;

//
// After Entry
//================================
$after-entry--background-color: #fff;

//
// Comments & Pings
//===============================
$comments-pings--background-color: #fff;

//
// Footer
//===============================
$site-footer--background-color: #fff;
$site-footer--border-color: #eee;

$footer-widgets--background-color: #fff;

//
// Sidebars & Widgets
//===========================================
$sidebar-widget-title--link--text-color: #333;
$sidebar-widget--background-color: #fff;

//
// Plugins
//=================================

// Enews Extended
$sidebar__enews-widget--background-color: #333;
$sidebar__enews-widget--text-color: #fff;

$sidebar__enews-widgets--input--border-color: #333;

$sidebar__enews-widgets--input-submit--background-color: #c3251d;
$sidebar__enews-widgets--input-submit--text-color: #fff;

$sidebar__enews-widgets--input-submit--hover-focus-background-color: #fff;
$sidebar__enews-widgets--input-submit--hover-focus-text-color: #333;


//
// Views
//===========================================

// Archive
//===========================================

$archive-description--background-color: #fff;