$base__color: #333;

$body__background-color: #eee;

// Link Colors
$link__color: #c3251d;
$link__color--hover: #333;

//
// Header
//===================================
$site-header__background-color: #fff;
$site-title__link-color: #333;

//
// Navigation Colors
//==================================

// Nav Links
$nav__link--color: #333;
$nav__link--color-hover-focus: #c3251d;

// Nav Primary
$nav-primary__background-color: #eee;
$nav-primary__border-color: #eee;

// Submenu
$submenu__border-color: #eee;
$submenu__link--background-color: #fff;

// Nav Toggle
$nav-toggle__background-color: #fff;
$nav-toggle__color: #333;

// Breadcrumbs
$breadcrumb__background-color: #fff;

// Archive Pagination
$archive-pagination__color: #333;
$archive-pagination__color--hover-focus: #fff;
$archive-pagination__background-color: #fff;
$archive-pagination__background-color--hover-focus: #c3251d;

// js enabled
$js-nav__background-color: $white;
$js-nav__hover-color: #000;
$js-nav__focus-color: #c3251d;

//
// Entry
//=================================
$entry__background-color: #fff;

//
// Entry Title
//================================
$entry-title__link-color: #333;
$entry-title__link-color--hover-focus: #c3251d;

//
// Entry Content
//=================================
$entry-content-code__background-color: #333;
$entry-content-code__text-color: #eee;

//
// Entry Footer
//===============================
$entry-footer-entry-meta__border-color: #eee;

//
// Author Box
//================================
$author-box__background-color: #fff;

//
// After Entry
//================================
$after-entry__background-color: #fff;

//
// Comments & Pings
//===============================
$comments-pings__background-color: #fff;

//
// Footer
//===============================
$site-footer__background-color: #fff;
$site-footer__border-color: #eee;

$footer-widgets__background-color: #fff;

//
// Sidebars & Widgets
//===========================================
$sidebar-widget-title--link__text-color: #333;
$sidebar-widget__background-color: #fff;

//
// Plugins
//=================================

// Enews Extended
$sidebar-enews-widget__background-color: #333;
$sidebar-enews-widget__text-color: #fff;

$sidebar-enews-widgets--input__border-color: #333;

$sidebar-enews-widgets--input-submit__background-color: #c3251d;
$sidebar-enews-widgets--input-submit__text-color: #fff;

$sidebar-enews-widgets--input-submit-hover-focus__background-color: #fff;
$sidebar-enews-widgets--input-submit-hover-focus__text-color: #333;


//
// Views
//===========================================

// Archive
//===========================================

$archive-description__background-color: #fff;