//
// Dimension Variables
//============================

$base--width: 1280;
$gutter: 40px;


// Max Widths
$max-width: $base--width + px;
$max-width--larger-screen: 1140px;
$max-width--large-screen: 960px;
$max-width--medium-screen: 800px;

// Header Area
$title-area--width: 300px;
$header-right--width: 800px;
$header-right--width--large-screen: 620px;

$site-title--min-height: 80px;

// Content Area
$content--width: $base--width * 0.6875 + px; //880px
$content--width--larger-screen: 800px;
$content--width--large-screen: 620px;

$content-twosidebars--width: 660px;
$content-twosidebars--width--larger-screen: 580px;
$content-twosidebars--width--large-screen: 400px;


$content-twosidebars__content-sidebar-wrap--width: 1060px;
$content-twosidebars__content-sidebar-wrap--width--larger-screen: 920px;
$content-twosidebars__content-sidebar-wrap--width--large-screen: 740px;

// Sidebar
$primary-sidebar--width: $base--width * 0.28125 + px; //360
$primary-sidebar--width--larger-screen: 300px;

$secondary-sidebar--width: 180px;

// Footer Area
$footer-widgets--width: 380px;
$footer-widgets--width--larger-screen: 340px;
$footer-widgets--width--large-screen: 300px;

// Landing Page

$landing-page__site-inner--max-width: 800px;
