
//
// Fonts
//==============================

$body__font-family: 'Source Sans Pro', sans-serif;
$headings__font-family: 'Source Sans Pro', sans-serif;

//
// Body
//============================

$html__font-size: 62.5%;

$body__font-size: 20;
$body__line-height: 1.625;

$body-div__font-size: 20;
$body-div--small-screen__font-size: 18;

$body--small-screen__font-size: 18;

//
// Headings
//=============================
$headings__line-height: 1.2;

$h1__font-size: 36;
$h2__font-size: 30;
$h3__font-size: 24;
$h4__font-size: 20;
$h5__font-size: 18;
$h6__font-size: 16;

//
// Forms font size
//=============================
$form--input-select-textarea__text-size: 18;

$button__text-size: 16;

//
// Site Title and Description font size
//=============================
$site-title__font-size: 30;
$site-description__font-size: 16;

//
// Navigation font size
//=============================
$nav__font-size: 16;
$submenu__font-size: 14;
$primary-nav__font-size: 14;
$archive-pagination__font-size: 16;

//
// Breadcrumb font size
//==================================
$breadcrumb__font-size: 16;

//
// Footer font size
//================================
$site-footer__font-size: 16;
$footer-widgets__font-size: 18;

//
// Entry Header
//=====================================

$entry-header-entry-meta__font-size: 16;

//
// Entry Title
//========================================
$entry-title__font-size: 36;

//
// Blockquote
//========================================

$blockquote__font-size: 30;

//
// WP Caption
//=========================================
$wp-caption-text__font-size: 14;

//
// Entry Footer
//=====================================
$entry-footer-entry-meta__font-size: 16;

//
// Author Box
//=====================================
$author-box-title__font-size: 20;
$author-box__font-size: 18;

//
// After Entry
//=====================================
$after-entry__font-size: 18;

//
// Comments & Pings
//==========================================
$comments-pings__font-size: 16;

//
// Featured Content Entry Title
//===========================================
$featured-content-entry-title__font-size: 20;

//
// Sidebars & Widgets
//===========================================
$sidebar__font-size: 16;
$widget-title__font-size: 18;

//
// Plugins
//============================================

// Enews Extended
$enews-widget--imput__font-size: 16;

//
// Views
//===========================================

// Archive
//===========================================
$archive-title__font-size: 20;
$archive-description--entry-title__font-size: 20;
$archive-description__font-size: 18;