
$site-title__font-size: 30;
$site-description__font-size: 16;

//
// Navigation font size
//=============================
$nav__font-size: 16;
$submenu__font-size: 14;
$primary-nav__font-size: 14;
$archive-pagination__font-size: 16

//
// Footer font size
//================================
$site-footer__font-size: 16;
$footer-widgets__font-size: 18,

//
// Entry Header
//=====================================

$entry-header-entry-meta__font-size: 16;

//
// Entry Title
//========================================
$entry-title__font-size: 36;

//
// Entry Footer
//=====================================

$entry-footer-entry-meta__font-size: 16;

//
// Comments & Pings
//==========================================

$comments-pings__font-size: 16;