
//
// Fonts
//==============================

$body--font-family: 'Source Sans Pro', sans-serif;
$headings--font-family: 'Source Sans Pro', sans-serif;

//
// Body
//============================

$html--font-size: 62.5%;

$body--font-size: 20;
$body--line-height: 1.625;

$body__div--font-size: 20;
$body__div--font-size--small-screen: 18;

$body--font-size--small-screen: 18;

//
// Headings
//=============================
$headings--line-height: 1.2;

$h1--font-size: 36;
$h2--font-size: 30;
$h3--font-size: 24;
$h4--font-size: 20;
$h5--font-size: 18;
$h6--font-size: 16;

//
// Forms font size
//=============================
$form__input-select-textarea--font-size: 18;

$button--font-size: 16;

//
// Site Title and Description font size
//=============================
$site-title--font-size: 30;
$site-description--font-size: 16;

//
// Navigation font size
//=============================
$nav--font-size: 16;
$submenu--font-size: 14;
$primary-nav--font-size: 14;
$archive-pagination--font-size: 16;

//
// Breadcrumb font size
//==================================
$breadcrumb--font-size: 16;

//
// Footer font size
//================================
$site-footer--font-size: 16;
$footer-widgets--font-size: 18;

//
// Entry Header
//=====================================

$entry-header__entry-meta--font-size: 16;

//
// Entry Title
//========================================
$entry-title--font-size: 36;

//
// Blockquote
//========================================

$blockquote--font-size: 30;

//
// WP Caption
//=========================================
$wp-caption-text--font-size: 14;

//
// Entry Footer
//=====================================
$entry-footer__entry-meta--font-size: 16;

//
// Author Box
//=====================================
$author-box-title--font-size: 20;
$author-box--font-size: 18;

//
// After Entry
//=====================================
$after-entry--font-size: 18;

//
// Comments & Pings
//==========================================
$comments-pings--font-size: 16;

//
// Featured Content Entry Title
//===========================================
$featured-content__entry-title--font-size: 20;

//
// Sidebars & Widgets
//===========================================
$sidebar--font-size: 16;
$widget-title--font-size: 18;

//
// Plugins
//============================================

// Enews Extended
$enews-widget--imput--font-size: 16;

//
// Views
//===========================================

// Archive
//===========================================
$archive-title--font-size: 20;
$archive-description__entry-title--font-size: 20;
$archive-description--font-size: 18;