/* ## Site Containers
--------------------------------------------- */

.site-inner,
.wrap {
  margin: 0 auto;
  max-width: 1280px;

  @media only screen and (max-width: 1340px) {
    max-width: 1140px;
  }

  @media only screen and (max-width: 1200px) {
    max-width: 960px;
  }

  @media only screen and (max-width: 1023px) {
    max-width: 800px;
  }
}

.site-inner {
  clear: both;
  padding-top: 40px;
  word-wrap: break-word;

  @media only screen and (max-width: 860px) {
    padding: 5% 5% 0;
  }
}

.landing-page .site-inner {
  max-width: 800px;
}
