/* ## Site Containers
--------------------------------------------- */

.site-inner,
.wrap {
  margin: 0 auto;
  max-width: $max-width;

  @include media( $breakpoint__screen-size--larger-max ) {
    max-width: $max-width__larger-screen;
  }

  @include media( $breakpoint__screen-size--large-max ) {
    max-width: $max-width__large-screen;
  }

  @include media( $breakpoint__screen-size--medium-max ) {
    max-width: $max-width__medium-screen;
  }
}

@include media( $breakpoint__screen-size--small-max ) {
  .wrap {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.site-inner {
  clear: both;
  padding-top: 40px;
  word-wrap: break-word;

  @include media( $breakpoint__screen-size--small-max ) {
    padding: 5% 5% 0;
  }
}

.landing-page .site-inner {
  max-width: $landing-page__site-inner--max-width;
}
